In [ ]:
import numpy as np
import pandas as pd

In [ ]:
d = {'name':['Ramesh','Suresh','Manish','Jayanth','Anamika','Anushka','Ravi','Surya','Chandu','Kavitha'],'Age':[25,28,23,27,32,31,30,31,24,25],'Gender':['M','M','M','M','F','F','M','M','M','F'],'Salary':[20000,25000,30000,26000,35000,20000,25000,30000,26000,35000],'Tax_bracket':[1,2,3,2,1,2,3,1,2,3,]}
d

{'name': ['Ramesh',
  'Suresh',
  'Manish',
  'Jayanth',
  'Anamika',
  'Anushka',
  'Ravi',
  'Surya',
  'Chandu',
  'Kavitha'],
 'Age': [25, 28, 23, 27, 32, 31, 30, 31, 24, 25],
 'Gender': ['M', 'M', 'M', 'M', 'F', 'F', 'M', 'M', 'M', 'F'],
 'Salary': [20000,
  25000,
  30000,
  26000,
  35000,
  20000,
  25000,
  30000,
  26000,
  35000],
 'Tax_bracket': [1, 2, 3, 2, 1, 2, 3, 1, 2, 3]}

In [ ]:
df = pd.DataFrame(d)
df

      name  Age Gender  Salary  Tax_bracket
0   Ramesh   25      M   20000            1
1   Suresh   28      M   25000            2
2   Manish   23      M   30000            3
3  Jayanth   27      M   26000            2
4  Anamika   32      F   35000            1
5  Anushka   31      F   20000            2
6     Ravi   30      M   25000            3
7    Surya   31      M   30000            1
8   Chandu   24      M   26000            2
9  Kavitha   25      F   35000            3

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         10 non-null     object
 1   Age          10 non-null     int64
 2   Gender       10 non-null     object
 3   Salary       10 non-null     int64
 4   Tax_bracket  10 non-null     int64
dtypes: int64(3), object(2)
memory usage: 528.0+ bytes

In [ ]:
df.describe()

             Age        Salary  Tax_bracket
count  10.000000     10.000000    10.000000
mean   27.600000  27200.000000     2.000000
std     3.272783   5308.274463     0.816497
min    23.000000  20000.000000     1.000000
25%    25.000000  25000.000000     1.250000
50%    27.500000  26000.000000     2.000000
75%    30.750000  30000.000000     2.750000
max    32.000000  35000.000000     3.000000

In [ ]:
df.loc[5]

name           Anushka
Age                 31
Gender               F
Salary           20000
Tax_bracket          2
Name: 5, dtype: object

In [ ]:
df.isnull().any()

name           False
Age            False
Gender         False
Salary         False
Tax_bracket    False
dtype: bool